@import './utils/vars';
@import './base/base-setting';

@import './components/header';
@import './components/hero';
@import './components/section-signs';
@import './components/section';
@import './components/section-team';
@import './components/social-links';
@import './components/clients';
@import './components/footer';

@import './components/portfolio';

@import './components/modal-window';