.hero {
	background: var(--background-color);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
    
        color: var(--text-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    &__button {
        border-radius: 4px;
        padding: 10px 32px;
    
        color: var(--text-white-color);
        background: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
    }
}

