.hero {
	background: var(--background-color);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-img-mob.jpg);
        @media screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background-img-mob@2x.jpg);
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-img-tab.jpg);
        @media screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background-img-tab@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
	    padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-img.jpg);
        @media screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background-img@2x.jpg);
        }
    }

    

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
    
        color: var(--text-white-color);
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 1.6;  
        
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.4;
        }
        
    }
    &__button {
        border-radius: 4px;
        padding: 10px 32px;
    
        color: var(--text-white-color);
        background: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
    }
}

