:root {
	--text-color: #757575;
	--title-color: #212121;
	--accent-color: #2196f3;
	--background-color: #2f303a;
	--logo-black-color: #000000;
	--text-white-color: #ffffff;
	--background-team: #f5f4fa;
}